# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment (poetry keeps venv outside project by default)
.env
.venv

# Pyenv local version file
.python-version

# Poetry
poetry.lock

# VSCode / JetBrains
.vscode/
.idea/

# OS
.DS_Store

# raw data
logs/
